.place__like{
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  box-sizing: content-box;
  background-color: transparent;
  width: 22px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 100% 100%;
  padding: 0;
}

.place__like:hover{
  opacity: 0.5;
}
