.place__delete-button {
  cursor: pointer;
  background-image: url(../../../images/trash.svg);
  box-sizing: content-box;
  background-color: transparent;
  width: 18px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 100% 100%;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.place__delete-button:hover{
  opacity: 0.6;
}
