.popup__close{
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../images/close-Icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -35px;

  }
}

.popup__close:hover{
  opacity: 0.6;
}
